[submodule "modules/molokai"]
	path = modules/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "modules/vim-distinguished"]
	path = modules/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "modules/vim-colors-solarized"]
	path = modules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "modules/vim-airline"]
	path = modules/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "modules/vim-indent-guides"]
	path = modules/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
